[submodule "test/examples/xschem_sky130"]
	path = test/examples/xschem_sky130
	url = https://github.com/StefanSchippers/xschem_sky130
	shallow = true

[submodule "test/examples/sky130_schematics"]
	path = test/examples/sky130_schematics
	url = https://github.com/sifferman/sky130_schematics
	shallow = true

[submodule "deps/ngspice"]
	path = deps/ngspice
	url = https://git.code.sf.net/p/ngspice/ngspice
	shallow = true

[submodule "deps/Xyce/src"]
	path = deps/Xyce/src
	url = https://github.com/Xyce/Xyce.git
	shallow = true

[submodule "deps/Xyce/Trilinos"]
	path = deps/Xyce/Trilinos
	url = https://github.com/trilinos/Trilinos.git
	shallow = true

[submodule "deps/Xyce/Trilinos"]
	path = examples/Matrix-Vector-Multiplier
	url = https://github.com/UWASIC/Matrix-Vector-Multiplier.git
	shallow = true
