[submodule "plugins/PDKLoader/dep/volare"]
	path = plugins/PDKLoader/dep/volare
	url = https://github.com/efabless/volare.git
[submodule "plugins/EasyImport/test/fixtures/xschem_library"]
	path = plugins/EasyImport/test/fixtures/xschem_library
	url = https://github.com/StefanSchippers/xschem.git
	branch = master
